<%- include('../partials/header') %>


<div class="container">
    <div class="row">       <!-- Using the grid system -->
        <h1 style="text-align: center">Edit Comment</h1>     <!-- inline styling for now, will change later -->
        <div style="width: 30%; margin: 25px auto;">    <!-- Using inline styling for now, will change later, this div encloses and styles form -->
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">        <!-- form-group class takes care of spacing, but needs to be added to each input and button -->
                    <input type="text" class="form-control" value="<%= comment.text %>" name="comment[text]">
                </div>
                <div class="form-group">
<!--                <input type="text" class="form-control" placeholder="author" name="comment[author]"> --><!-- nested inside obj comment -->
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>
