<%- include('partials/header') %>

<h1>This is show template</h1>

<div>
    <%= campground.name %>
</div>


<img src="<%= campground.image %>" alt="">    

<div>
    <%= campground.description %>
</div>


<%- include('partials/footer') %>
